section#get
	.container
		h3.general-title.general-title-get БЛАГОДАРЯ КУРСУ ВЫ:
		ul.get-list
			li Научитесь работать с Таро Тота так, чтобы менять свою жизнь к лучшему: окружение, шансы, позиционирование, заработок, личную жизнь и ощущение смысла
			li Научитесь «жонглировать» обстоятельствами, возможностями, желаниями
			li Перестанете быть «жертвой обстоятельств». Научитесь создавать, направлять и перенаправлять их
			li Расклады на Таро Тота – это создание систем. Вы научитесь создавать, удерживать в равновесии и энергетически гармонизировать свои собственные системы жизни