section#main
	.container
		include header
		p.pre Записи онлайн-мастер-класса
			small (внизу страницы)
		h1.main-title= head_title
		p.main-text Старт курса: 
			span 25 июля, в 19:00 Мск
		p.main-text Автор курса: 
			span  Андрей Лебедев
		a.button.button-main(href="#prices") Купить