section#plan
	.container
		p.plan-text В ходе курса Каббалистическое Таро Тота вы получите личный «ключ к шифру Вселенной», ключ к своему будущему. Узнавать будущее – это только первый этап. В ходе курса вы научитесь менять будущее. Для этого мы с вами изучим символизм, психологию, динамику, и магию Таро. Это очень тонкий инструмент и генератор перемен. Перемен в вашей жизни
		h3.general-title.general-title-plan План курса
		.lessons-container
			ul.lessons-links
				li Занятие 1
				li Занятие 2
				li Занятие 3
				li Занятие 4
				li Занятие 5
				li Занятие 6
				li Занятие 7
				li Занятие 8
				li Занятие 9
				li Занятие 10
				li Занятие 11
				li Занятие 12
				li Занятие 13
				li Занятие 14
				li Занятие 15
				li Занятие 16
				li Занятие 17
				li Занятие 18
			.lessons
				.lesson.lesson-1
					h4.lesson-title Занятие 1
					h5.lesson-subtitle ДИНАМИЧЕСКИЕ ПАРЫ В КОЛОДЕ ТАРО ТОТА «ДУРАК И МАГ», «ВЕРХОВНАЯ ЖРИЦА И ИМПЕРАТРИЦА»
					ul.lesson-list
						li Почему дурак и маг - Андрогены
						li Дурак Таро Тота
						li Дурак Марсельского Таро и таро Райдера Уэйта
						li Возможные проявления в раскладе
						li Маг или Фокусник?
						li Маг Марсельского Таро и Таро Райдера-Уэйта
						li Значение карт «Дурак» и «Маг»
						li «Верховная жрица»
						li Три жрицы – три этапа духовной эмансипации женщины
						li «Женский крест» или равносторонний крест природы
						li Три императрицы - три вида плодородия
						li Значение карт «Жрица» и «Императрица»
				.lesson.lesson-2
					h4.lesson-title Занятие 2
					h5.lesson-subtitle ДИНАМИЧЕСКИЕ ПАРЫ В КОЛОДЕ ТАРО ТОТА «ИМПЕРАТОР И ИЕРОФАНТ», «ВЛЮБЛЁННЫЕ И КОЛЕСНИЦА»
					ul.lesson-list
						li Удел Императора
						li «Императоры» Марсельского таро и таро Райдера-Уэйта
						li Тайна Иерофанта
						li «Иерофанты» Марсельского таро и таро Райдера-Уэйта
						li Значение карт «Император» и «Иерофант»
						li «Влюблённые» и «Колесница» - карты «внутренней алхимии»
						li Связь этих карт, с другими арканами карт Таро Тота
						li Алхимия «Влюблённых»
						li «Влюблённые» Марсельского таро и таро Райдера-Уэйта
						li Алхимия «Колесницы»
						li «Колесницы» Марсельского таро и таро Райдера-Уэйта
						li Значение карт «Влюблённые» и «Колесница»
				.lesson.lesson-3
					h4.lesson-title Занятие 3
					h5.lesson-subtitle ДИНАМИЧЕСКИЕ ПАРЫ В КОЛОДЕ ТАРО ТОТА «ИСПРАВЛЕНИЕ И ОТШЕЛЬНИК», «ПОВЕШЕННЫЙ И СМЕРТЬ»
					ul.lesson-list
						li Символическое родство «Исправления» и «Отшельника». Самоуглублённость. Магическое целомудрие
						li Что исправляет «Исправление»
						li Революция «Исправления»
						li «Справедливость» («Исправления») Марсельского таро и таро Райдера-Уэйта
						li «Отшельник» внутри нас
						li «Отшельник» Марсельского таро и таро Райдера-Уэйта
						li Значение карт «Исправление» и «Отшельник»
						li Под колёсами фортуны
						li «Колесо фортуны» Марсельского таро и таро Райдера-Уэйта
						li Вожделение мудрости
						li «Сила» Марсельского таро и таро Райдера-Уэйта
						li Значение карт «Колесо фортуны» и «Вожделение»
				.lesson.lesson-4
					h4.lesson-title Занятие 4
					h5.lesson-subtitle ДИНАМИЧЕСКИЕ ПАРЫ В КОЛОДЕ ТАРО ТОТА «ФОРТУНА И ВОЖДЕЛЕНИЕ», «ИСКУССТВО И ДЬЯВОЛ»
					ul.lesson-list
						li Объединение противоположностей. Тайна зачатия и вызревания бессмертного зародыша.
						li «Умеренность» в Марсельском таро. И «Искусство» в таро Райдера-Уэйта.
						li «Дьявол» в Марсельском таро, в таро Райдера-Уэйта и Таро Тота
						li Значение карт «Искусство» и «Дьявол»
						li «Повешенный» Марсельского таро и таро Райдера-Уэйта
						li «Смерть» Марсельского таро и таро Райдера-Уэйта
						li Значение карт «Повешенный» и «Смерть»
				.lesson.lesson-5
					h4.lesson-title Занятие 5
					h5.lesson-subtitle ДИНАМИЧЕСКИЕ ПАРЫ В КОЛОДЕ ТАРО ТОТА «БАШНЯ И ЗВЕЗДА», «ЛУНА И СОЛНЦЕ»
					ul.lesson-list
						li Как изменить свою жизнь, с помощью двух арканов таро?
						li Башня. Подрыв сверху или снизу? «Башня» Марсельского таро и таро Райдера-Уэйта
						li «Звезда» Марсельского таро и таро Райдера- Уэйта. Звёзды переменились.
						li Значение карт «Башня» и «Звезда»
						li Как обрести совместимость
						li Три ипостаси «Луны». «Луна» Марсельского таро и таро Райдера- Уэйта
						li Солнце для всех. «Солнце» Марсельского таро и таро Райдера- Уэйта
						li Значения карт «Луна» и «Солнце»
				.lesson.lesson-6
					h4.lesson-title Занятие 6
					h5.lesson-subtitle ДИНАМИЧЕСКИЕ ПАРЫ В КОЛОДЕ ТАРО ТОТА «ЭОН И ВСЕЛЕННАЯ». КАРТЫ ДВОРА, КАК СИГНИФИКАТОРЫ
					ul.lesson-list
						li Духовный переворот
						li Страшный суд отменяется?
						li «Суд» Марсельского таро и таро Райдера- Уэйта. «Эон» Таро Тота
						li Мир или Вселенная
						li «Мир» Марсельского таро и таро Райдера- Уэйта. «Вселенная» Таро Тота
						li Значение карт «Эон» и «Вселенная»
						li Принцип работы с придворными картами
						li Как определить Сигнификатор, исходя из базовых характеристик карт двора
						li Индикатор типов личности Майерс-Бриггс (MBTI)
				.lesson.lesson-7
					h4.lesson-title Занятие 7
					h5.lesson-subtitle РЫЦАРИ ТОТА. КОРОЛЕВЫ ТОТА
					ul.lesson-list
						li Застой или внутренняя трансформация
						li Рыцарь жезлов
						li Рыцарь чаш
						li Рыцарь мечей
						li Рыцарь дисков
						li Лики матери и Лики любви
						li Королева жезлов
						li Королева чаш
						li Королева мечей
						li Королева дисков
				.lesson.lesson-8
					h4.lesson-title Занятие 8
					h5.lesson-subtitle ПРИНЦЫ ТОТА. ПРИНЦЕССЫ ТОТА
					ul.lesson-list
						li От замысла к реализации
						li Принц жезлов
						li Принц чаш
						li Принц мечей
						li Принц дисков
						li Реализация Божественных компетенций
						li Принцесса жезлов
						li Принцесса чаш
						li Принцесса мечей
						li Принцесса дисков
				.lesson.lesson-9
					h4.lesson-title Занятие 9
					h5.lesson-subtitle ЧИСЛОВЫЕ КАРТЫ. ТУЗЫ КАК «СУЩНОСТИ» СТИХИИ. ДВОЙКИ. ИСТОРИЯ ЗАРОЖДЕНИЯ
					ul.lesson-list
						li Соответствия тузов
						li Туз жезлов
						li Туз чаш
						li Туз мечей
						li Туз дисков
						li Медитации на четыре туза Таро Тота
						li Двойка жезлов. Власть
						li Двойка чаш. Любовь
						li Двойка мечей. Спокойствие
						li Двойка дисков. Перемены
				.lesson.lesson-10
					h4.lesson-title Занятие 10
					h5.lesson-subtitle ТРОЙКИ ТАРО ТОТА. ЗАЧАТИЕ ФОРМ. ЧЕТВЁРКИ ТАРО ТОТА. НАЧАЛО РЕАЛИЗАЦИИ ЗАМЫСЛА
					ul.lesson-list
						li Тройка жезлов. Достоинство
						li Тройка чаш. Изобилие
						li Тройка мечей. Скорбь
						li Тройка дисков. Труд
						li Четвёрка жезлов. Завершённость
						li Четвёрка чаш. Роскошь
						li Четвёрка мечей. Перемирие
						li Четвёрка дисков. Мощь
				.lesson.lesson-11
					h4.lesson-title Занятие 11
					h5.lesson-subtitle ПЯТЁРКИ ТАРО ТОТА. ТРУДНОСТИ ОДУХОТВОРЕНИЯ МАТЕРИ. ШЕСТЁРКИ ТАРО ТОТА. АБСОЛЮТНАЯ ГАРМОНИЯ
					ul.lesson-list
						li Трудности проникновения духа в материю
						li Пятёрка жезлов. Борьба
						li Пятёрка чаш. Разочарование
						li Пятёрка мечей. Поражение
						li Пятёрка дисков. Тревога
						li Совершенная гармония или передышка на пути воплощения
						li Шестёрка жезлов. Победа
						li Шестёрка чаш. Удовольствие
						li Шестёрка мечей. Наука
						li Шестёрка дисков. Успех
				.lesson.lesson-12
					h4.lesson-title Занятие 12
					h5.lesson-subtitle СЕМЁРКИ ТАРО ТОТА. ВОСЬМЁРКИ ТАРО ТОТА. ИГРЫ РАЗУМА
					ul.lesson-list
						li Эмоциональный надлом. Как из него выбраться
						li Семёрка жезлов. Доблесть
						li Семёрка чаш. Разврат
						li Семёрка мечей. Тщета
						li Семёрка дисков. Неудача
						li Восьмёрка жезлов. Быстрота
						li Восьмёрка чаш. Увядание
						li Восьмёрка мечей. Препятствие
						li Восьмёрка дисков. Благоразумие
				.lesson.lesson-13
					h4.lesson-title Занятие 13
					h5.lesson-subtitle ДЕВЯТКИ ТАРО ТОТА. ДЕСЯТКИ ТОТА. ПРИНЦИП ВЕЛИКОГО ПАРАДОКСА
					ul.lesson-list
						li За шаг до воплощения. За 1000 ли до Бога
						li Девятка жезлов. Сила
						li Девятка чаш. Счастье
						li Девятка мечей. Жестокость
						li Девятка дисков. Прибыль
						li Десятка жезлов. Угнетение
						li Десятка чаш. Пресыщение
						li Десятка мечей. Разрушение
						li Десятка дисков. Богатство
				.lesson.lesson-14
					h4.lesson-title Занятие 14
					h5.lesson-subtitle БАЗОВЫЕ РАСКЛАДЫ
					ul.lesson-list
						li Дуплеты
						li Расклад Крест и другие четырёх карточные расклады
						li Триплеты
						li Расклад «Кельтский крест» и как с ним работать
						li Как правильно строить беседу с Кверентом
						li Расклад на 10 карт «Кельтский крест»
						li Значение позиций
						li Высший крест или круг
						li Толкование значение карт
				.lesson.lesson-15
					h4.lesson-title Занятие 15
					h5.lesson-subtitle АВТОРСКИЕ РАСКЛАДЫ ХАЙО БАНЦХАФА. «АНКХ». «ТАЙНА ЖРИЦЫ»
					ul.lesson-list
						li Расклад «АНКХ»
						li Расклад «Тайна Жрицы»
						li Расклад-ритуал на аркан «Колесо Фортуны»
						li Талисманы на основе триплета «Влюблённые-Дьявол-Искусство»
				.lesson.lesson-16
					h4.lesson-title Занятие 16
					h5.lesson-subtitle РАСКЛАДЫ НА ОСНОВЕ СИМВОЛИЧЕСКИХ СИСТЕМ
					ul.lesson-list
						li Расклад «12 домов гороскопа»
						li Особенности толкования расклада «12 домов гороскопа»
						li Что может расклад таро «12 домов гороскопа»
						li Расклад «Древо Жизни»
						li Расклад «Чакры»
						li Особенности трактовки Чакрального расклада
						li Расклад «Гексограмма»
						li Расклад «Расколотая Гексограмма»
				.lesson.lesson-17
					h4.lesson-title Занятие 17
					h5.lesson-subtitle КОРРЕКЦИЯ СИТУАЦИЙ С ПОМОЩЬЮ КАРТ ТАРО. ВРЕМЯ ОПРЕДЕЛЕНИЕ СРОКОВ
					ul.lesson-list
						li Коррекция раскладов За и Против
						li Оптимальное время коррекции
						li Варианты коррекции
						li О времени в Таро
						li Определение сроков в Таро
				.lesson.lesson-18
					h4.lesson-title Занятие 18
					h5.lesson-subtitle РИТУАЛ ОСВЯЩЕНИЯ КОЛОДЫ ТАРО ТОТА