footer
	background: #242933
	position relative
	padding: 2% 0
	text-align: center
footer
	h5
		font-size: 22px;
		color: rgb(255, 255, 255);
	p
	#conditions
		font-size: 14px;
		font-family: "RobotoLight", serif;
		color: rgba(255, 255, 255, 0.6);
		line-height: 1.786;
	p
		width 100%
		max-width 815px
		margin 0 auto
	#conditions
		text-decoration underline
		&:hover
		&:focus
			text-decoration none
.soc-buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 20px 8px
		position relative
		z-index: 1
		.fa
			width: 30px;
			height: 30px;
			background-color #FDFEDE
			color #1C2430
			line-height 28px
			border 1px solid rgba(#FDFEDE, .45)
			&:hover
				opacity .8