#get
	padding 4% 0
	background-color: #BB863D
	color: #FDFEDE
.general-title-get
	color: #FDFEDE
.get-list
	width 100%
	max-width 860px
	margin: 0 auto
	padding-left: 10px
	list-style none
	li
		margin-top: 10px
		position relative
		padding-left: 15px
		&:before
			content: ''
			border-radius: 2px
			position: absolute
			top: 8px
			left 0
			width 9px
			height 9px
			background-color: #FDFEDE